.LogIn{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    background-color: rgba(0, 0, 255, 0.292);
    width: 25%;
    padding: 20px 40px;
    border-radius: 20px;
    color: #db7093;
}

.label{
    color: #db7093;
    font-size: 20px;
    margin: 0;
}

input{
    text-align: center;
    border: solid 2px #32a7b1;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

button{
    background-color: #e6005a;
    color: white;
    height: 30px;
    border: 0;
    border-radius: 10px;
}
href{
    color: aqua;
}